@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

// 마루부리 한글 궁서체 폰트 -눈누
@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Outfit 영어 고딕체 폰트 - 구글
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Comforter 영어 로고 폰트 - 구글
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
// font-family: 'Comforter', cursive;

// ---------------------------------------------------------------- variables
$base-color: #707070;
$point-color: #F87387;


//  ---------------------------------------------------------------- mixin
@mixin button {
    cursor: pointer;
    width: 120px;
    height: 45px;
    transform: skewX(-20deg);
    background: transparent;
    border: 2px solid $base-color;

    transition: all 0.3s;

    &:hover {
        border: 2px solid $point-color;

        span{
            color: $point-color;
        }
    }

    span{
        display: inline-block;
        font-family: 'MaruBuri-Regular';
        font-size: 16px;
        color: #707070;
        transform: skew(20deg);
    }
}


// ---------------------------------------------------------------- common style
#fullScreen{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    //background-image: url("./public/img/bg.jpg");
}

// ---------------------------------------------------------------- reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

html {
    font-size: 62.5%;
    color: #707070;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

.clear:after {
    /* 자식이 모두 float 을 사용할때 부모가 높이를 갖게하기 위함 */
    content: "";
    display: block;
    clear: both;
    *zoom: 1;
    /* IE8 이하버전 대응 */
}
