@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

// 마루부리 한글 궁서체 폰트 -눈누
@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Noto Sans KR - 구글
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

// Outfit 영어 고딕체 폰트 - 구글
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Comforter 영어 로고 폰트 - 구글
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

// Eczar 영어 고딕체 폰트 for 오늘의 영화 - 구글
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

// ---------------------------------------------------------------- variables
// colors
$base-color: #282828;
$grey-color: #707070;
$point-color: #F87387;

// fonts
$default-kor-font: 'Noto Sans KR', sans-serif;
$default-eng-font: 'Outfit', sans-serif;
$point-kor-font: 'MaruBuri-Regular', sans-serif;
$point-eng-font: 'Eczar', serif;
$logo-font: 'Comforter', cursive;

// font sizes
$fs200: 1.2rem;
$fs300: 1.3rem;
$fs400: 1.4rem;
$fs500: 1.5rem;
$fs600: 1.6rem;
$fs-L: 2rem;
$fs-XL: 6rem;


//  ---------------------------------------------------------------- mixin
@mixin button {
    cursor: pointer;
    width: 120px;
    height: 40px;
    transform: skewX(-20deg);
    background: transparent;
    border: 2px solid $grey-color;

    transition: all 0.3s;

    &:hover {
        border: 2px solid $point-color;

        span {
            color: $point-color;
        }
    }

    span {
        display: inline-block;
        font-family: $point-kor-font;
        font-size: $fs500;
        color: $grey-color;
        transform: skew(20deg);
    }

    span.material-icons{
        display: inline-block;
        vertical-align: middle;
        font-family: 'Material Icons';
        transform: skew(0deg);
    }
}

// ---------------------------------------------------------------- common style
#fullScreen {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: url("/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    margin: 3% 0 0;
    font-size: $fs500;
}

.sectionWrap{
    /* 좌우 간격 */
    margin-inline: auto;
    width: 90%;
}

.sectionDivider {
    // 각 section 챕터 제목
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 24px;
    margin: 5% auto 0;

    .divider{
        position: relative;
        display: inline-block;
        flex: 5;

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            background: $grey-color;
        }

        &:before {
            height: 3px;
            top: 8px;
        }

        &:after {
            height: 1px;
            bottom: 8px;
        }
    }

    p {
        display: inline-block;
        margin-left: 50px;
        margin-right: 0;
        text-align: right;
        font-family: $point-kor-font;
        font-size: $fs-L;
        font-weight: bold;
    }

    &.dRight {
        // 글씨 왼쪽, 줄 오른쪽
        p {
            margin-right: 50px;
            margin-left: 0;
            text-align: left;
        }
    }
}

.rate {
    // 영화 정보 (줄거리 빼고)
    display: flex;
    flex-direction: column;
    width: 100%;

    p {
        // 영화 타이틀 한글 + 영문 이름
        margin-bottom: 10px;
        font-weight: bold;
        font-size: $fs600;

        small {
            font-size: $fs400;
        }
    }

    ul {
        font-size: $fs400;
        margin-top: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
    }

    button {
        @include button();
    }
}

.star {
    color: $point-color;

    span {
        vertical-align: middle;
    }

    strong {
        vertical-align: middle;
        font-size: $fs600;
        margin-left: 10px;
        font-weight: 400;
    }
}


// ---------------------------------------------------------------- reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $default-kor-font;
    line-height: 1.6;
}

html {
    font-size: 62.5%;
    color: $base-color;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

.clear:after {
    /* 자식이 모두 float 을 사용할때 부모가 높이를 갖게하기 위함 */
    content: "";
    display: block;
    clear: both;
    *zoom: 1;
    /* IE8 이하버전 대응 */
}
