@import "common";

#wrap {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url("/img/bg.jpg");
    background-repeat: repeat-y;
    background-size: contain;

    header {
        width: 90%;
        height: 60px;
        padding: 1em 0 0;
        margin: 0 auto;

        .headerWrap {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                display: inline-block;
                font-size: $fs400;
                color: $grey-color;
                font-family: $point-kor-font;
                font-weight: 600;
                flex: 1;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 3;

                img {
                    height: 40px;
                }
            }

            div {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                p {
                    position: relative;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    border: 2px solid white;
                    overflow: hidden;

                    img {
                        position: absolute;
                        width: 100%;
                        height: auto;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

        }
    }

    .topDivider {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        margin-top: 1em;
        padding: 0 5%;

        &::before,
        &::after {
            position: absolute;
            content: '';
            top: -14px;
            width: 35px;
            height: 34px;
            background-image: url("/img/pattern.png");
            background-repeat: no-repeat;
            background-size: contain;
        }

        &::before {
            left: 2%;
        }

        &::after {
            right: 2%;
            transform: rotateY(180deg);
        }

        img {
            width: 100%;
        }
    }

    main {
        margin-top: 1.5em;

        .mainSlider {
            width: 90%;
            height: 85vh;
            margin: 0 auto;
            overflow: hidden;

            .swiper-wrapper {
                transform: translate3d(0, 0, 0) !important;

                .swiper-slide {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .detailModal {
                        opacity: 0;
                        z-index: 200;
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.8);
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;

                        transition: opacity 0.5s;



                        .detailModalWrap{
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            width: 80%;
                            height: 85%;

                            margin-top: 200px;

                            figure {
                                height: 80%;
                                margin-right: 50px;

                                img {
                                    height: 100%;
                                }
                            }

                            .detailRight {
                                width: 60%;
                                display: flex;
                                flex-direction: column;

                                .rate {
                                    color: white;
                                }

                                &>p {
                                    max-width: 100%;
                                    color: white;
                                    font-size: $fs400;
                                }
                            }
                        }

                    }

                    &>ul {
                        display: flex;
                        position: absolute;
                        top: 30px;
                        left: 50%;
                        z-index: 300;
                        transform: translateX(-50%);

                        &>li {
                            button {
                                @include button();
                                border: 1px solid white;

                                span {
                                    color: white;
                                }

                                &.detailBtn.active {
                                    background: white;

                                    &:hover {
                                        border: 2px solid white;

                                    }

                                    span {
                                        color: $grey-color;
                                    }

                                }
                            }
                        }
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }

                }
            }
        }

        .swiper-progress-bar {
            position: relative;
            width: 40%;
            display: block;
            z-index: 1;
            height: 3px;
            left: 30%;
            bottom: 30px;

            .slide_progress-bar {
                position: absolute;
                height: 3px;
                background: rgba(255, 255, 255, 0.5);
                width: auto;
                clear: both;
                opacity: 0;
                bottom: inherit;
                left: 0;
                right: 0;

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: white;
                    height: 100%;
                    width: 0;
                    content: "";
                    transition: 0.1s width linear;
                }
            }

            &.active {
                .slide_progress-bar {
                    opacity: 1;
                }
            }

            &.animate {
                .slide_progress-bar {
                    &:after {
                        transition: width linear;
                        transition-delay: unset;
                        width: 100%;
                        transition-duration: 4s;
                    }
                }
            }
        }
    }

    section.todayMovies {

        .recommendToday {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            font-size: $fs400;
            overflow: hidden;

            // 오늘의 영화 - 왼쪽 포스터
            .recLeft {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                figure {
                    position: relative;
                    width: 20vw;

                    overflow: hidden;
                    aspect-ratio: 3/5;

                    img {
                        position: absolute;
                        width: 100%;
                        inset: 0;
                        object-fit: cover;
                    }
                }

                p {
                    text-align: right;
                    font-family: $point-kor-font;

                    span.material-icons {
                        vertical-align: middle;
                    }
                }
            }

            // 오늘의 영화 - 오른쪽
            .recRight {
                box-sizing: border-box;
                height: 100%;
                margin-left: 2%;
                font-family: $default-kor-font;

                .movieDetail {
                    display: flex;
                    justify-content: flex-start;


                    .story {
                        width: 55%;
                        margin-left: 2%;

                        & > * + * {
                            margin-top: 2rem;
                        }

                    }
                }

                .todayPoster {
                    width: 100%;
                    overflow: hidden;
                    margin-top: 160px;

                    .slides {
                        position: relative;
                        width: 100%;
                        max-height: 400px;
                        display: flex;
                        overflow: hidden;

                        .swiper-slide {
                            width: 15vw;
                            aspect-ratio: 3/4;
                            margin-right: 30px;
                            border: 1px solid $grey-color;

                            img {
                                position: absolute;
                                width: 100%;
                                inset: 50%;
                                transform: translate(-50%, -50%);
                                object-fit: cover;
                            }
                        }

                    }

                }

            }
        }
    }

    section.masterpiece {
        width: 100%;
        max-width: 100vw;
        height: 90vh;
        margin: 0 auto;

        ul.posters {
            display: flex;
            margin-top: 10%;

            & > li {
                position: relative;
                flex: 1;
                height: 700px;
                overflow: hidden;

                transition: all 0.5s;

                &:hover {
                    transform: scale(1.1);
                    z-index: 3;
                    //flex: 2;
                }

                & > img {
                    position: absolute;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                & > div {
                    position: absolute;
                    z-index: 5;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: $fs-L;

                    width: 100%;
                    background: black;

                    button {
                        @include button();
                    }
                }

            }
        }
    }

    section.movieMusic {
        width: 100%;
        height: 90vh;
        background: url("/img/music-bg.png");
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: right -30px bottom;

        & > ul {
            display: flex;
            align-items: center;

            & > li.active {
                width: 45rem;
                height: 45rem;
                filter: grayscale(0);
                z-index: 5;
                border: 1px solid $point-color;
            }

            & > li {
                position: relative;
                width: 25rem;
                height: 25rem;
                border-radius: 50%;
                overflow: hidden;
                filter: grayscale(1);
                border: 1px solid $grey-color;

                &:first-child {
                    z-index: 1;
                    left: 80px;
                }

                &:nth-child(3) {
                    z-index: 4;
                    right: 100px;
                }

                &:nth-child(4) {
                    z-index: 3;
                    right: 200px;
                }

                &:nth-child(5) {
                    z-index: 2;
                    right: 250px;
                }

                img {
                    position: absolute;
                    width: 100%;
                    height: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    &.positionTop {
                        position: absolute;
                        width: 100%;
                        height: auto;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                }
            }
        }
    }

    section.movieReview {

        h2 {
            text-align: center;
            font-family: $point-eng-font;
            font-size: $fs-XL;
            font-weight: 900;
            margin-bottom: 10px;
        }

        .reviewTop {
            display: flex;
            margin-bottom: 30px;

            article {
                flex: 2;

                img {
                    width: 100%;
                }
            }

            .reviews {
                position: relative;
                flex: 1;
                margin-left: 3%;
                display: flex;
                flex-direction: column;

                summary {
                    margin-bottom: 30px;

                    .nickname {
                        display: flex;
                        align-items: center;
                        font-size: $fs600;
                        margin-bottom: 10px;

                        & > span {
                            font-weight: bold;
                            font-family: $point-kor-font;
                        }

                        .star {
                            margin-left: 40px;
                        }
                    }

                    q {
                        font-size: $fs400;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        word-wrap: break-word;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        quotes: none;
                    }
                }

                button {
                    @include button();
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }

    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        margin-top: 60px;
        background: #B4A892;
        color: #4B3232;
        font-size: $fs400;

        strong {
            font-weight: bold;
            margin: 0 5px;
            font-size: $fs500;
        }
    }
}
