@import "common";

#fullScreen{

    .profileWrap{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        section{
            text-align: center;
            p{
                margin-bottom: 20px;
                font-family: $point-kor-font;
                font-size: $fs400;
                font-weight: 600;
                color: $grey-color;
            }
            strong{
                font-family: $logo-font;
                font-size: $fs-XL;
                color: $point-color;
            }
        }

        .profile{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 5%;

            li{
                text-align: center;
                border-radius: 50%;
                transform-origin: center;

                span{
                    opacity: 0;
                    display: inline-block;
                    margin-top: 30px;
                    font-family: $default-eng-font;
                    font-size: $fs600;
                    font-weight: 500;
                    color: $point-color;
                }
            }

            figure{
                cursor: pointer;
                position: relative;
                width: 140px;
                height: 140px;
                margin: 0 50px;
                border-radius: 50%;
                border: 1px solid $base-color;
                filter: grayscale(1);
                overflow: hidden;

                transition: all 0.5s;

                &.active{
                    border: 3px solid #F87387;
                    transform: scale(1.2);
                    filter: grayscale(0);
                }

                &:hover{
                    filter: grayscale(0);
                }

                img{
                    position: absolute;
                    width: 100%;
                    height: auto;
                    left: 50%;
                    top: 50%;

                    transform: translate(-50%, -50%);
                }

            }
        }
        .backArrow{
            opacity: 0;
            cursor: pointer;
            text-align: center;
            width: 45px;
            margin-top: 80px;
        }

        .start{
            margin-top: 5%;
            button{
                @include button();

            }
        }
    }
}
