@import url(https://fonts.googleapis.com/css2?family=Comforter&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comforter&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap);
@charset "UTF-8";
@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#fullScreen {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
  color: #282828;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

.clear:after {
  /* 자식이 모두 float 을 사용할때 부모가 높이를 갖게하기 위함 */
  content: "";
  display: block;
  clear: both;
  *zoom: 1;
  /* IE8 이하버전 대응 */
}

#wrap {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-image: url("/img/bg.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}
#wrap header {
  width: 94%;
  height: 60px;
  margin: 0 auto;
}
#wrap header .headerWrap {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrap header .headerWrap span {
  display: inline-block;
  font-size: 1.2rem;
  color: #707070;
  font-family: "MaruBuri-Regular", sans-serif;
  font-weight: 600;
  flex: 1;
}
#wrap header .headerWrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
}
#wrap header .headerWrap a img {
  height: 40px;
}
#wrap header .headerWrap div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#wrap header .headerWrap div p {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
}
#wrap header .headerWrap div p img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#wrap .divider {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0 100px;
}
#wrap .divider::before {
  position: absolute;
  content: "";
  left: 40px;
  top: -14px;
  width: 40px;
  height: 39px;
  background-image: url("/img/pattern.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#wrap .divider::after {
  position: absolute;
  content: "";
  right: 40px;
  top: -14px;
  width: 40px;
  height: 39px;
  background-image: url("/img/pattern.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotateY(180deg);
}
#wrap .divider img {
  width: 100%;
}
