@import url(https://fonts.googleapis.com/css2?family=Comforter&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comforter&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap);
@charset "UTF-8";
@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#fullScreen {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  margin: 3% 0 0;
  font-size: 1.5rem;
}

.sectionWrap {
  /* 좌우 간격 */
  margin-inline: auto;
  width: 90%;
}

.sectionDivider {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 24px;
  margin: 5% auto 0;
}
.sectionDivider .divider {
  position: relative;
  display: inline-block;
  flex: 5;
}
.sectionDivider .divider:before, .sectionDivider .divider:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  background: #707070;
}
.sectionDivider .divider:before {
  height: 3px;
  top: 8px;
}
.sectionDivider .divider:after {
  height: 1px;
  bottom: 8px;
}
.sectionDivider p {
  display: inline-block;
  margin-left: 50px;
  margin-right: 0;
  text-align: right;
  font-family: "MaruBuri-Regular", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.sectionDivider.dRight p {
  margin-right: 50px;
  margin-left: 0;
  text-align: left;
}

.rate {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rate p {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.6rem;
}
.rate p small {
  font-size: 1.4rem;
}
.rate ul {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.rate button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  transform: skewX(-20deg);
  background: transparent;
  border: 2px solid #707070;
  transition: all 0.3s;
}
.rate button:hover {
  border: 2px solid #F87387;
}
.rate button:hover span {
  color: #F87387;
}
.rate button span {
  display: inline-block;
  font-family: "MaruBuri-Regular", sans-serif;
  font-size: 1.5rem;
  color: #707070;
  transform: skew(20deg);
}
.rate button span.material-icons {
  display: inline-block;
  vertical-align: middle;
  font-family: "Material Icons";
  transform: skew(0deg);
}

.star {
  color: #F87387;
}
.star span {
  vertical-align: middle;
}
.star strong {
  vertical-align: middle;
  font-size: 1.6rem;
  margin-left: 10px;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.6;
}

html {
  font-size: 62.5%;
  color: #282828;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

.clear:after {
  /* 자식이 모두 float 을 사용할때 부모가 높이를 갖게하기 위함 */
  content: "";
  display: block;
  clear: both;
  *zoom: 1;
  /* IE8 이하버전 대응 */
}

#wrap {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-image: url("/img/bg.jpg");
  background-repeat: repeat-y;
  background-size: contain;
}
#wrap header {
  width: 90%;
  height: 60px;
  padding: 1em 0 0;
  margin: 0 auto;
}
#wrap header .headerWrap {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrap header .headerWrap span {
  display: inline-block;
  font-size: 1.4rem;
  color: #707070;
  font-family: "MaruBuri-Regular", sans-serif;
  font-weight: 600;
  flex: 1;
}
#wrap header .headerWrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
}
#wrap header .headerWrap a img {
  height: 40px;
}
#wrap header .headerWrap div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#wrap header .headerWrap div p {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
}
#wrap header .headerWrap div p img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#wrap .topDivider {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-top: 1em;
  padding: 0 5%;
}
#wrap .topDivider::before, #wrap .topDivider::after {
  position: absolute;
  content: "";
  top: -14px;
  width: 35px;
  height: 34px;
  background-image: url("/img/pattern.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#wrap .topDivider::before {
  left: 2%;
}
#wrap .topDivider::after {
  right: 2%;
  transform: rotateY(180deg);
}
#wrap .topDivider img {
  width: 100%;
}
#wrap main {
  margin-top: 1.5em;
}
#wrap main .mainSlider {
  width: 90%;
  height: 85vh;
  margin: 0 auto;
  overflow: hidden;
}
#wrap main .mainSlider .swiper-wrapper {
  transform: translate3d(0, 0, 0) !important;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide .detailModal {
  opacity: 0;
  z-index: 200;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: opacity 0.5s;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide .detailModal .detailModalWrap {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 85%;
  margin-top: 200px;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide .detailModal .detailModalWrap figure {
  height: 80%;
  margin-right: 50px;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide .detailModal .detailModalWrap figure img {
  height: 100%;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide .detailModal .detailModalWrap .detailRight {
  width: 60%;
  display: flex;
  flex-direction: column;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide .detailModal .detailModalWrap .detailRight .rate {
  color: white;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide .detailModal .detailModalWrap .detailRight > p {
  max-width: 100%;
  color: white;
  font-size: 1.4rem;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide > ul {
  display: flex;
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 300;
  transform: translateX(-50%);
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide > ul > li button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  transform: skewX(-20deg);
  background: transparent;
  border: 2px solid #707070;
  transition: all 0.3s;
  border: 1px solid white;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide > ul > li button:hover {
  border: 2px solid #F87387;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide > ul > li button:hover span {
  color: #F87387;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide > ul > li button span {
  display: inline-block;
  font-family: "MaruBuri-Regular", sans-serif;
  font-size: 1.5rem;
  color: #707070;
  transform: skew(20deg);
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide > ul > li button span.material-icons {
  display: inline-block;
  vertical-align: middle;
  font-family: "Material Icons";
  transform: skew(0deg);
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide > ul > li button span {
  color: white;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide > ul > li button.detailBtn.active {
  background: white;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide > ul > li button.detailBtn.active:hover {
  border: 2px solid white;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide > ul > li button.detailBtn.active span {
  color: #707070;
}
#wrap main .mainSlider .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
}
#wrap main .swiper-progress-bar {
  position: relative;
  width: 40%;
  display: block;
  z-index: 1;
  height: 3px;
  left: 30%;
  bottom: 30px;
}
#wrap main .swiper-progress-bar .slide_progress-bar {
  position: absolute;
  height: 3px;
  background: rgba(255, 255, 255, 0.5);
  width: auto;
  clear: both;
  opacity: 0;
  bottom: inherit;
  left: 0;
  right: 0;
}
#wrap main .swiper-progress-bar .slide_progress-bar:after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 0;
  content: "";
  transition: 0.1s width linear;
}
#wrap main .swiper-progress-bar.active .slide_progress-bar {
  opacity: 1;
}
#wrap main .swiper-progress-bar.animate .slide_progress-bar:after {
  transition: width linear;
  transition-delay: unset;
  width: 100%;
  transition-duration: 4s;
}
#wrap section.todayMovies .recommendToday {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  font-size: 1.4rem;
  overflow: hidden;
}
#wrap section.todayMovies .recommendToday .recLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#wrap section.todayMovies .recommendToday .recLeft figure {
  position: relative;
  width: 20vw;
  overflow: hidden;
  aspect-ratio: 3/5;
}
#wrap section.todayMovies .recommendToday .recLeft figure img {
  position: absolute;
  width: 100%;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap section.todayMovies .recommendToday .recLeft p {
  text-align: right;
  font-family: "MaruBuri-Regular", sans-serif;
}
#wrap section.todayMovies .recommendToday .recLeft p span.material-icons {
  vertical-align: middle;
}
#wrap section.todayMovies .recommendToday .recRight {
  box-sizing: border-box;
  height: 100%;
  margin-left: 2%;
  font-family: "Noto Sans KR", sans-serif;
}
#wrap section.todayMovies .recommendToday .recRight .movieDetail {
  display: flex;
  justify-content: flex-start;
}
#wrap section.todayMovies .recommendToday .recRight .movieDetail .story {
  width: 55%;
  margin-left: 2%;
}
#wrap section.todayMovies .recommendToday .recRight .movieDetail .story > * + * {
  margin-top: 2rem;
}
#wrap section.todayMovies .recommendToday .recRight .todayPoster {
  width: 100%;
  overflow: hidden;
  margin-top: 160px;
}
#wrap section.todayMovies .recommendToday .recRight .todayPoster .slides {
  position: relative;
  width: 100%;
  max-height: 400px;
  display: flex;
  overflow: hidden;
}
#wrap section.todayMovies .recommendToday .recRight .todayPoster .slides .swiper-slide {
  width: 15vw;
  aspect-ratio: 3/4;
  margin-right: 30px;
  border: 1px solid #707070;
}
#wrap section.todayMovies .recommendToday .recRight .todayPoster .slides .swiper-slide img {
  position: absolute;
  width: 100%;
  inset: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap section.masterpiece {
  width: 100%;
  max-width: 100vw;
  height: 90vh;
  margin: 0 auto;
}
#wrap section.masterpiece ul.posters {
  display: flex;
  margin-top: 10%;
}
#wrap section.masterpiece ul.posters > li {
  position: relative;
  flex: 1;
  height: 700px;
  overflow: hidden;
  transition: all 0.5s;
}
#wrap section.masterpiece ul.posters > li:hover {
  transform: scale(1.1);
  z-index: 3;
}
#wrap section.masterpiece ul.posters > li > img {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#wrap section.masterpiece ul.posters > li > div {
  position: absolute;
  z-index: 5;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 100%;
  background: black;
}
#wrap section.masterpiece ul.posters > li > div button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  transform: skewX(-20deg);
  background: transparent;
  border: 2px solid #707070;
  transition: all 0.3s;
}
#wrap section.masterpiece ul.posters > li > div button:hover {
  border: 2px solid #F87387;
}
#wrap section.masterpiece ul.posters > li > div button:hover span {
  color: #F87387;
}
#wrap section.masterpiece ul.posters > li > div button span {
  display: inline-block;
  font-family: "MaruBuri-Regular", sans-serif;
  font-size: 1.5rem;
  color: #707070;
  transform: skew(20deg);
}
#wrap section.masterpiece ul.posters > li > div button span.material-icons {
  display: inline-block;
  vertical-align: middle;
  font-family: "Material Icons";
  transform: skew(0deg);
}
#wrap section.movieMusic {
  width: 100%;
  height: 90vh;
  background: url("/img/music-bg.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right -30px bottom;
}
#wrap section.movieMusic > ul {
  display: flex;
  align-items: center;
}
#wrap section.movieMusic > ul > li.active {
  width: 45rem;
  height: 45rem;
  filter: grayscale(0);
  z-index: 5;
  border: 1px solid #F87387;
}
#wrap section.movieMusic > ul > li {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  overflow: hidden;
  filter: grayscale(1);
  border: 1px solid #707070;
}
#wrap section.movieMusic > ul > li:first-child {
  z-index: 1;
  left: 80px;
}
#wrap section.movieMusic > ul > li:nth-child(3) {
  z-index: 4;
  right: 100px;
}
#wrap section.movieMusic > ul > li:nth-child(4) {
  z-index: 3;
  right: 200px;
}
#wrap section.movieMusic > ul > li:nth-child(5) {
  z-index: 2;
  right: 250px;
}
#wrap section.movieMusic > ul > li img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#wrap section.movieMusic > ul > li img.positionTop {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#wrap section.movieReview h2 {
  text-align: center;
  font-family: "Eczar", serif;
  font-size: 6rem;
  font-weight: 900;
  margin-bottom: 10px;
}
#wrap section.movieReview .reviewTop {
  display: flex;
  margin-bottom: 30px;
}
#wrap section.movieReview .reviewTop article {
  flex: 2;
}
#wrap section.movieReview .reviewTop article img {
  width: 100%;
}
#wrap section.movieReview .reviewTop .reviews {
  position: relative;
  flex: 1;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
}
#wrap section.movieReview .reviewTop .reviews summary {
  margin-bottom: 30px;
}
#wrap section.movieReview .reviewTop .reviews summary .nickname {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
#wrap section.movieReview .reviewTop .reviews summary .nickname > span {
  font-weight: bold;
  font-family: "MaruBuri-Regular", sans-serif;
}
#wrap section.movieReview .reviewTop .reviews summary .nickname .star {
  margin-left: 40px;
}
#wrap section.movieReview .reviewTop .reviews summary q {
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  quotes: none;
}
#wrap section.movieReview .reviewTop .reviews button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  transform: skewX(-20deg);
  background: transparent;
  border: 2px solid #707070;
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
  right: 0;
}
#wrap section.movieReview .reviewTop .reviews button:hover {
  border: 2px solid #F87387;
}
#wrap section.movieReview .reviewTop .reviews button:hover span {
  color: #F87387;
}
#wrap section.movieReview .reviewTop .reviews button span {
  display: inline-block;
  font-family: "MaruBuri-Regular", sans-serif;
  font-size: 1.5rem;
  color: #707070;
  transform: skew(20deg);
}
#wrap section.movieReview .reviewTop .reviews button span.material-icons {
  display: inline-block;
  vertical-align: middle;
  font-family: "Material Icons";
  transform: skew(0deg);
}
#wrap footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin-top: 60px;
  background: #B4A892;
  color: #4B3232;
  font-size: 1.4rem;
}
#wrap footer strong {
  font-weight: bold;
  margin: 0 5px;
  font-size: 1.5rem;
}
